body {
  background-color: #fff6d8;
  background-image: linear-gradient(90deg, #fff6d8 0%, #f0ebff 100%);
}
.glassSide {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.title {
  font-family: "Shadows Into Light", cursive;
  margin-left: 10px;
  font-size: 3.2em;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #b8d8ee 0%, #676efb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title span {
  font-family: "Rock Salt", cursive;
}
.text {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #7474bf 0%,
    #348ac7 51%,
    #7474bf 100%
  );
}
.btn-grad {
  margin: 0px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.videos {
  width: 60%;
  margin: auto;
  padding-top: 20px;
}
.video {
  width: 55%;
  height: auto;
  margin: auto;
}
.thumb {
  margin-right: 10px;
}

@media only screen and (max-width: 1200px) {
  .videos {
    width: 100%;
    margin: auto;
    padding-top: 20px;
  }
  .video {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .thumb {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 630px) {
  .container-sm {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
  .title {
    padding-left: 50px;
  }
}
@media only screen and (max-width: 760px) {
}
@media only screen and (max-width: 440px) {
  .container-sm {
    margin: auto;
    width: 80%;
    padding: 10px;
  }
  .title {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 395px) {
  .title {
    padding-left: 40px;
  }
}
